%h4 Title: #{@blog.title}
%hr
%h3 Listng entries
%table.table
    %tr
        %td
            Title
        %td
            Body
        %td
        %td
        %td
    - @blog.entries.each do |entry|
        %tr
            %td
                #{entry.title}
            %td
                #{entry.body}
            %td
                = link_to "Show",blog_entry_path(@blog,entry)
            %td
                = link_to "Edit",edit_blog_entry_path(@blog,entry)
            %td
                = link_to "Destroy",blog_entry_path(@blog,entry),method: :delete
.mt-5
    = link_to "Back To Top", root_path, class:"btn btn-default mr-2"
    = link_to "New Entry", new_blog_entry_path(@blog), class:"btn btn-default"
