%h4 #{@blog.title}
%h3 Title: #{@entry.title}
%h3 Body: #{@entry.body}
%hr
%h3 Listing comments
%table.table
    %tr
        %td
            body
        %td
        %td
    - @entry.comments.each do |comment|
        %tr
            %td
                - if comment.status == "approved"
                    #{comment.body}
                - else
                    （承認待ち）
            %td
                - if comment.status == "unapproved"
                    = link_to "Approve", approve_blog_entry_comment_path(@blog,@entry,comment),method: :patch
            %td
                = link_to "Destroy", blog_entry_comment_path(@blog,@entry,comment),method: :delete
%hr/
%h3 New comment
= form_for @comment, url: blog_entry_comments_path(@blog,@entry) do |f|
    .form-group
        = f.label :body, "Body"
        = f.text_area :body, {class:"form-control"}
    .form-group
        = f.submit "Save", {class:"btn btn-default"}
  
.mt-5
    = link_to "Back To Top", root_path, class:"btn btn-default mr-2"
